%p#notice= notice

.generics-container
  .podcast-container
    .header-left
      %h3 #{@show.title}
      %a.small{:href => "#{@show.link}", :target => "_blank", :style => "margin: 0px;"} Direct Link
      - if Save.where(:user_id => current_user.id, :show_id => @show.id).size >= 1
        - @save = Save.where(:user_id => current_user.id, :show_id => @show.id).first
        = button_to "Unsave", safe_path(@save), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"
      - else
        = button_to "Save", save_path(@show), method: :post, :class => "btn follow-btn"
      .clear
      %p.sub-title 4k Saves
      %br
      %p #{@show.description}
    .header-right
      =image_tag @show.image_url
    
    .clear

.generics-container
  .show-container
    - @podcast = Podcast.find_by_id(@show.podcast_id)
    = link_to "Back", podcast_path(@podcast), :class => "btn"
    - if current_user.admin
      = link_to 'Edit', edit_show_path(@show), :class => "btn btn-success"
      = link_to 'Destroy', @show, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"

/ .shows-container
/   %h1 Shows
/   - if @shows.count == 0
/     .show-container.even
/       %h6 No shows available :(
/   - @shows.each do |show|
/     .show-container{:class => cycle('even', 'odd')}
/       %a.title{:href => "#{show_path(show)}"} #{show.title}
/       %a{:href => "#{show.link}", :target => "_blank"}
/         %p.small Direct Link
/       %p.small #{show.description}

/ = paginate @shows

/ %p#notice= notice
/ %p
/   %strong Title:
/   = @show.title
/ %p
/   %strong Description:
/   = @show.description
/ %p
/   %strong Link:
/   = @show.link
/ %p
/   %strong Tags:
/   = @show.tags
/ %p
/   %strong Views:
/   = @show.views
/ %p
/   %strong Podcast:
/   = @show.podcast_id
/ = link_to 'Edit', edit_show_path(@show)
/ |
/ \#{link_to 'Back', shows_path}