<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @show.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @show.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @show.link %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @show.tags %>
</p>

<p>
  <strong>Views:</strong>
  <%= @show.views %>
</p>

<p>
  <strong>Podcast:</strong>
  <%= @show.podcast_id %>
</p>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
