.generics-container.padded-container
  = form_for(@podcast) do |f|
    - if @podcast.errors.any?
      #error_explanation
        %h2
          = pluralize(@podcast.errors.count, "error")
          prohibited this podcast from being saved:
        %ul
          - @podcast.errors.full_messages.each do |msg|
            %li= msg
    .field
      = f.label :rss_link
      %br
        = f.text_field :rss_link

    / .padder40
    / %hr
    / %p Add custom titles, descriptions, links, and tags if the feed doesn't supply them.

    / .field
    /   = f.label :title
    /   %br
    /     = f.text_field :title
    / .field
    /   = f.label :description
    /   %br
    /     = f.text_field :description
    / .field
    /   = f.label :link
    /   %br
    /     = f.text_field :link
    / .field
    /   = f.label :tags
    /   %br
    /     = f.text_field :tags
    / .field
    /   = f.label :image
    /   %br
    /     = f.text_field :image
    /     %p must be a url
    .actions
      = f.submit