<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @podcast.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @podcast.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @podcast.link %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @podcast.tags %>
</p>

<p>
  <strong>Views:</strong>
  <%= @podcast.views %>
</p>


<%= link_to 'Edit', edit_podcast_path(@podcast) %> |
<%= link_to 'Back', podcasts_path %>
