%p#notice= notice

.generics-container
  .podcast-container
    .header-left
      %h1 #{@podcast.title}
      - if Subscription.where(:user_id => current_user.id, :podcast_id => @podcast.id).size >= 1
        - @subscription = Subscription.where(:user_id => current_user.id, :podcast_id => @podcast.id).first
        = button_to "Unsubscribe", subscription_path(@subscription), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"
      - else
        = button_to "Subscribe", subscribe_path(@podcast), method: :post, :class => "btn follow-btn"
      .clear
      %p.sub-title 4k Subscribers | #{@podcast.tags}
      %br
      %p #{@podcast.description}
    .header-right
      =image_tag @podcast.image.url
    
    .clear

.shows-container
  %h1 Shows
  - if @shows.count == 0
    .show-container.even
      %h6 No shows available :(
  - @shows.each do |show|
    .show-container{:class => cycle('even', 'odd')}
      %a.title{:href => "#{show.link}", :target => "_blank"} #{show.title}
      %p.small #{show.description}

= paginate @shows



/ %p
/   %strong Title:
/   = @podcast.title
/ %p
/   %strong Description:
/   = @podcast.description
/ %p
/   %strong Link:
/   = @podcast.link
/ %p
/   %strong RSS Link:
/   = @podcast.rss_link
/ %p
/   %strong Tags:
/   = @podcast.tags
/ %p
/   %strong Views:
/   = @podcast.views
/ = link_to 'Edit', edit_podcast_path(@podcast)
/ |
/ \#{link_to 'Back', podcasts_path}