- if user_signed_in?
  .user-info-container
    .avatar-container
      =image_tag current_user.avatar, :class => "avatar"
    - if current_user.full_name
      %a.side-link.update{:href => "#{edit_user_registration_path}"}
        / =image_tag('icons/user.svg', :class => "side-icon")
        #{current_user.full_name}
    - else
      %a.side-link{:href => "#{edit_user_registration_path}"}
        =image_tag('icons/user.svg', :class => "side-icon")
        #{current_user.email}
    %a.update{:href => "#{edit_user_registration_path}"} Update Account
  .padder20

%a.side-link{:href => "#{root_url}"}
  =image_tag('icons/home.svg', :class => "side-icon")
  Home
%a.side-link{:href => "#"}
  =image_tag('icons/star.svg', :class => "side-icon")
  Saved Podcasts
%a.side-link{:href => "#{podcasts_url}"}
  =image_tag('icons/plus.svg', :class => "side-icon")
  Add Content

.padder40

%a.side-link{:href => "#"}
  =image_tag('icons/menu.svg', :class => "side-icon")
  All Content

.padder40

- if user_signed_in?
  #{link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn'}
